{% extends "template.html" %}
{% block body %}
  <head>
    <title>Project Wraith Command Center</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body class="login-page-body">
    <div class="loginbox">
      <img src="{{ url_for('static',filename='images/wraithicon.png') }}" class="wraithicon" />
        <h1 class="login-form-header">Search prior tasks</h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.agent.label(class="login-labels") }}
        {{ form.agent(class="login-entry") }}
        {{ form.result.label(class="login-labels") }}
        {{ form.result(class="login-entry") }}
        {{ form.search(class="login-submit") }}
      </form>
      <form action="wraithc2">
        <input type="submit" value="Return to Console" class="login-submit" />
      </form>
        <h3 class="login-form-footer">Dev Cole Strickler</h3>
    </div>


  </body>
{% endblock %}
